.fts-button{float: right;
position: relative;
bottom: -20px;
z-index: 100;}
.fts-button{
  border:1px solid #ff6262; -webkit-border-radius: 1px; font-family:arial, helvetica, sans-serif; padding: 2px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #ff9a9a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
  background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
}

.fts-button:hover{
  border:1px solid #ff3434; background-color: #ff6767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), top(#ff0d0d));
  background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
  text-decoration: none;
}